body {
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  margin: 100px auto;
  font-family: 'Lexend Deca', sans-serif;
}
img {
  margin-left: 35px;
  margin-top: 40px;
}
h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  margin-left: 35px;

}
p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-left: 35px;
  width: 80%;
}


.first-container {
  background-color: hsl(31, 77%, 52%);
  border-radius: 1rem 0 0 1rem;
  width: 20%;
  height: 430px;
  display: inline-block;
  margin: 0;
  text-align: left;
  position: relative;
  left: 5px;

}
.second-container {
  background-color: hsl(184, 100%, 22%);
  width: 20%;
  height: 430px;
  display: inline-block;
  margin: 0;
  text-align: left;
}
.third-container {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 1rem 1rem 0;
  width: 20%;
  height: 430px;
  display: inline-block;
  margin: 0;
  text-align: left;
  position: relative;
  right: 5px;
}
.p2 {
  width: 82%;
}
.p3 {
  width: 82%;
}
.btn1 {
  font-size: 12px;
  color: hsl(31, 77%, 52%);
  border-style: solid;
  border-color: hsl(31, 77%, 52%);
  border-radius: 3rem;
  width: 50%;
  height: 50px;
  margin-top: 50px;
  margin-left: 35px;
  cursor: pointer;
}
.btn1:hover {
  border-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}
.btn2 {
  font-size: 12px;
  color:  hsl(184, 100%, 22%);
  border-style: solid;
  border-color: hsl(184, 100%, 22%);
  border-radius: 3rem;
  width: 50%;
  height: 50px;
  margin-top: 50px;
  margin-left: 35px;
  cursor: pointer;
}
.btn2:hover {
  border-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color:  hsl(184, 100%, 22%);
}
.btn3 {
  font-size: 12px;
  color: hsl(179, 100%, 13%);
  border-style: solid;
  border-color: hsl(179, 100%, 13%);
  border-radius: 3rem;
  width: 50%;
  height: 50px;
  margin-top: 50px;
  margin-left: 35px;
  cursor: pointer;
}
.btn3:hover {
  border-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  color: hsl(31, 77%, 52%);
  font-size: 16px;
  text-align: center;
margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  cursor: pointer;
 }
 .attribution a:hover {
   color: hsl(179, 100%, 13%);
 }
